* {
      font-family: noto-serif;
    }

body{
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
}
div{
   padding: 0px;
   margin: 0px;
}

@media screen and (min-width: 501px) {
a{
  font-size: 30px;
}
.header {
  padding: 15px;
  margin: 0px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  height: 10%;
}

}
@media screen and (max-width: 500px) {
a{
  font-size: 15px;
}
.header {
  padding: 15px;
  margin: 0px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 15px;
  height: 10%;
}

}
.userHeader{
  width: auto;
  height: 50px;
  text-align: right;
  background-color: black;
  color: white;
  margin-top: 0px;
  padding-top: 10px;

}
.button1{
  display: inline-block;
  border-radius: 0px;
  width: 100%;

}
.button2{
  display: inline-block;
  border-radius: 0px;
  width: 100%;
}
.button3{
  display: inline-block;
  border-radius: 0px;
  width: 100%;
}
.button4{
  display: inline-block;
  border-radius: 0px;
  width: 100%;


}


.options{
  float: left;
  width: 25%;
  }

.target {
  width: 75%;
  float: right;
}
.container{
  width:100%;
  min-height: 200 px;
}
#content {width: 75%; height: 90%; float: right; }
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #333;
  color: white;
}
.log-out-button{
    text-align: center;
    width: 200px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;

    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #053359;
    color: #053359;
  }
.log-out-button:hover {
  background: #053359;
  color: white;
}
